@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https: //fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
* {
  font-family: Roboto Condensed;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #161722;
  padding: 64px 0;
}

.footer__parts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 0;
}
@media (max-width: 950px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 50px;
    justify-items: center;
  }
}
@media (max-width: 510px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    gap: 50px;
    justify-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer .footer__part__four h3 {
    font-size: 25px;
  }
  .footer .footer__part__btn button, .footer .footer__part__btn input {
    padding: 10px 20px;
  }
}
.footer li,
.footer a {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__copy {
  margin-top: 27px;
  margin-bottom: 32px;
}
.footer .footer__special {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__part__btn {
  max-width: 512px !important;
  display: flex;
}
@media (max-width: 400px) {
  .footer__part__btn {
    display: flex;
    flex-direction: column;
  }
}
.footer .footer__input {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-grow: 2;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: none;
}
@media (max-width: 400px) {
  .footer .footer__input {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.footer__part__four h3 {
  max-width: 377px;
  margin-bottom: 32px;
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.footer__part__four button {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  color: #0D0D0D;
}

.blog__body {
  background: #F5F2F0;
}

.blog {
  padding-top: 100px;
}
.blog__p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1C1D28;
}
.blog__h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #1C1D28;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin-bottom: 64px;
}
.blog__doing {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  padding: 56px;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  background-color: #fff;
}
.blog__doing__left img {
  width: 100%;
}
.blog__doing__reight__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #1C1D28;
}
.blog__doing__reight h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #1C1D28;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin: 12px 0 16px;
}
.blog__doing__reight p {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1C1D28;
  opacity: 0.78;
}
.blog__doing__reight button {
  padding: 24px 64px;
  border-radius: 12px;
  background: #FFD2A4;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #1C1D28;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .blog__doing {
    grid-template-columns: 1fr;
  }
}

.post {
  margin-bottom: 100px;
}
.post h2 {
  margin: 128px 0 64px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #1C1D28;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.48px;
}
.post__box {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.post__box__card {
  position: relative;
  overflow: hidden;
  max-width: 302px;
  width: 100%;
  height: 360px;
  padding: 48px 32px;
  border-radius: 25px;
  background-color: #fff;
}
.post__box__card__content {
  position: relative;
  z-index: 1;
}
.post__box__card__content div {
  background: linear-gradient(110deg, #A54E2B -53.83%, #DC9853 62.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.post__box__card__content div cap {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  color: #1C1D28;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.post__box__card__content h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  color: #1C1D28;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.post__box__card__content__about {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1C1D28;
  opacity: 0.78;
  margin-bottom: 48px;
}
.post__box__card__content label {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: #1C1D28;
}
.post__box__card__content__data {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1C1D28;
}
.post__box__card__content__bgc {
  z-index: 1;
  height: 100px;
  width: 100px;
  background-color: #FFD0A0;
}
.post__box__card::after {
  bottom: -100px;
  right: -100px;
}
.post__box__card::before {
  top: -100px;
  left: -100px;
}
.post__box__card::after, .post__box__card::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  transition: 0.5s;
  background-color: #FFD0A0;
}
.post__box__card:hover::after, .post__box__card:hover::before {
  width: 600px;
  height: 600px;
}/*# sourceMappingURL=blog.css.map */