@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https: //fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https: //fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #161722;
  padding: 64px 0;
}

.footer__parts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
@media (max-width: 950px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
  }
}
@media (max-width: 510px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer .footer__part__four h3 {
    font-size: 25px;
  }
  .footer .footer__part__btn button, .footer .footer__part__btn input {
    padding: 10px 20px;
  }
}
.footer li,
.footer a {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__copy {
  margin-top: 27px;
  margin-bottom: 32px;
}
.footer .footer__special {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__part__btn {
  max-width: 512px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 400px) {
  .footer__part__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .footer__input {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: none;
}
@media (max-width: 400px) {
  .footer .footer__input {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.footer__part__four h3 {
  max-width: 377px;
  margin-bottom: 32px;
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.footer__part__four button {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  color: #0D0D0D;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background-color: #161722;
  padding: 64px 0;
}

.footer__parts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
@media (max-width: 950px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
  }
}
@media (max-width: 510px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer .footer__part__four h3 {
    font-size: 25px;
  }
  .footer .footer__part__btn button, .footer .footer__part__btn input {
    padding: 10px 20px;
  }
}
.footer li,
.footer a {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__copy {
  margin-top: 27px;
  margin-bottom: 32px;
}
.footer .footer__special {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__part__btn {
  max-width: 512px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 400px) {
  .footer__part__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .footer__input {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: none;
}
@media (max-width: 400px) {
  .footer .footer__input {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.footer__part__four h3 {
  max-width: 377px;
  margin-bottom: 32px;
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.footer__part__four button {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  color: #0D0D0D;
}

header {
  position: fixed;
  width: 100%;
  background-color: #0D0D0D;
  padding: 4px 0;
  z-index: 1;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo {
  max-width: 132px;
  width: 100%;
}
@media (max-width: 400px) {
  .nav__logo {
    width: 90px;
  }
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 700px) {
  .nav ul {
    display: none;
  }
}
.nav__links {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
}
.nav__btn {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
}
@media (max-width: 400px) {
  .nav__btn {
    padding: 10px 20px;
    font-size: 10px;
  }
}
.nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar-responsive {
  background-color: grey;
  position: fixed;
  top: 0;
  left: calc(-100% - 40px);
  bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
}
#navbar-responsive li {
  width: calc(100vw - 80px);
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #FFD2A4;
}
#navbar-responsive li a {
  color: #0D0D0D;
  font-weight: 800;
}
#navbar-responsive li:hover a {
  color: orange;
}

#navbar-open {
  display: none;
}
@media (max-width: 700px) {
  #navbar-open {
    display: inline-block;
  }
}

#navbar-close {
  position: absolute;
  top: 50px;
  right: 40px;
}

#navbar-close:hover {
  padding: 10px 15px;
  background-color: #FFD2A4;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-radius: 10px;
}

footer {
  background-color: #161722;
  padding: 64px 0;
}

.footer__parts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}
@media (max-width: 950px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
  }
}
@media (max-width: 510px) {
  .footer__parts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .footer .footer__part__four h3 {
    font-size: 25px;
  }
  .footer .footer__part__btn button, .footer .footer__part__btn input {
    padding: 10px 20px;
  }
}
.footer li,
.footer a {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer__copy {
  margin-top: 27px;
  margin-bottom: 32px;
}
.footer .footer__special {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__part__btn {
  max-width: 512px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 400px) {
  .footer__part__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .footer__input {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: none;
}
@media (max-width: 400px) {
  .footer .footer__input {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.footer__part__four h3 {
  max-width: 377px;
  margin-bottom: 32px;
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.footer__part__four button {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  color: #0D0D0D;
}

.main__home {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("../../image/home/Church/https_/www.pexels.com/photo/woman-in-orange-coat-with-black-and-brown-scarf-5418305.png") no-repeat;
  background-size: cover;
  padding-bottom: 128px;
}
.main__home h6,
.main__home h2, .main__home__p {
  max-width: 592px;
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.main__home h6 {
  padding-top: 128px;
}
.main__home h2 {
  font-size: 64px;
  letter-spacing: -0.64px;
  margin-top: 16px;
  margin-bottom: 32px;
}
@media (max-width: 500px) {
  .main__home h2 {
    font-size: 30px;
    text-align: center;
  }
}
.main__home__p {
  font-weight: normal;
  line-height: 24px;
}
.main__home__btn {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  margin-bottom: 64px;
}
.main__home__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.relevant {
  padding-top: 128px;
}
.relevant * {
  text-align: center;
}
.relevant__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1010px) {
  .relevant__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
    justify-items: center;
  }
}
.relevant__row__card {
  max-width: 411px;
  padding: 80px;
  margin-top: 64px;
  background-color: #FFF5EB;
  border-bottom: 16px solid #FFD2A4;
}
@media (max-width: 400px) {
  .relevant__row__card {
    padding: 30px;
  }
}
.relevant__row__card img {
  padding: 12px;
  border-radius: 50%;
  background-color: #FFD2A4;
}
.relevant__row__card h3,
.relevant__row__card p {
  margin-top: 37px;
  color: #161722;
  font-family: Roboto condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
}
.relevant__row__card p {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.relevant h5,
.relevant h4 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.relevant h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.love {
  padding-top: 128px;
  padding-bottom: 128px;
}
.love img {
  width: 100%;
}
.love__a {
  text-align: center;
  margin-top: 16px;
}
.love p,
.love h6,
.love h3,
.love a {
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  text-align: center;
}
.love h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
@media (max-width: 400px) {
  .love h3 {
    font-size: 25px;
  }
}
.love__pics {
  margin-top: 104px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 700px) {
  .love__pics {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 100px;
    justify-items: center;
  }
  .love__pics img {
    width: 60%;
  }
}
.love__pics button {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  margin-top: -50px;
  margin-bottom: 48px;
}
.love__pics__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

#join {
  background-color: #F5F2F0;
}

.join {
  padding-top: 128px;
  padding-bottom: 128px;
}
.join p,
.join h3 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  text-transform: uppercase;
}
.join h3 {
  max-width: 554px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  margin-bottom: 64px;
}
@media (max-width: 400px) {
  .join h3 {
    font-size: 30px;
  }
}
.join__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.join__row img {
  width: 100%;
}
@media (max-width: 950px) {
  .join__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 700px) {
  .join__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
  }
}
.join__row__card {
  position: relative;
}
.join__row__card h2,
.join__row__card h6,
.join__row__card h4 {
  max-width: 238px;
  position: absolute;
  bottom: 120px;
  left: 32px;
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}
.join__row__card h6 {
  color: #FFFFFF;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  bottom: 32px;
}
.join__row__card h4 {
  bottom: 32px;
}

.benefit {
  padding-top: 128px;
  padding-bottom: 128px;
}
@media (max-width: 1230px) {
  .benefit {
    padding-top: 0;
    padding-bottom: 40px;
  }
}
.benefit__parag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: -10px;
}
.benefit p,
.benefit h3 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  text-transform: uppercase;
}
.benefit h3 {
  max-width: 554px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  margin-bottom: 64px;
}
@media (max-width: 400px) {
  .benefit h3 {
    font-size: 30px;
  }
}
.benefit__row {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
@media (max-width: 1000px) {
  .benefit__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    justify-items: center;
  }
}
.benefit__row__right {
  max-width: 435px;
  background-color: #FFF5EB;
  padding: 32px 32px 60px 90px;
}
@media (max-width: 1230px) {
  .benefit__row__right {
    padding: 10px 20px;
  }
}
@media (max-width: 1000px) {
  .benefit__row__right {
    padding: 30px 40px;
  }
}
.benefit__row__right button {
  margin-top: 32px;
  border-radius: 12px;
  background: #161722;
  padding: 24px 64px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: #FFD2A4;
  text-transform: uppercase;
}
@media (max-width: 1230px) {
  .benefit__row__right button {
    padding: 10px 20px;
  }
}
.benefit__row__right h4,
.benefit__row__right p {
  max-width: 210px;
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 24px;
  text-align: justify;
  font-weight: 700;
  letter-spacing: -0.24px;
  text-transform: uppercase;
}
.benefit__row__right h4 {
  margin-top: 16px;
  margin-bottom: 32px;
}
.benefit__row__right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: lowercase;
}
.benefit__row__right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.benefit__row__right__top p:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
}
.benefit__row__right__top p:nth-child(2) {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  text-transform: uppercase;
}
.benefit__row__right__top h6 {
  color: #A54E2B;
  font-family: Roboto Condensed;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.benefit__row__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.benefit__row__left img {
  width: 100%;
}
@media (max-width: 1000px) {
  .benefit__row__left img {
    width: 100%;
  }
}
.benefit__clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 16px;
}
.benefit__clock h6 {
  max-width: 184px;
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.visit__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  height: 736px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: url("../../image/home/Church/https_/www.pexels.com/photo/facade-of-aged-grand-cathedral-with-dome-on-river-shore-5273642.png");
}

.visit h2,
.visit p {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  background-color: #FFFFFF;
}
@media (max-width: 400px) {
  .visit h2 {
    font-size: 35px;
  }
}
.visit p {
  font-size: 16px;
  line-height: 24px;
}
.visit button {
  border-radius: 12px;
  background: #FFD2A4;
  padding: 20px 48px;
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: white;
  color: #0D0D0D;
}
.visit__row {
  border-bottom: 16px solid #FFD2A4;
  position: absolute;
  top: 10vh;
  right: calc(15vw - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 117px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80vw;
  width: 70vw;
  padding: 80px;
  background-color: #FFFFFF;
}
@media (max-width: 1100px) {
  .visit__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 50px;
    text-align: center;
    justify-items: center;
  }
}
@media (max-width: 700px) {
  .visit__row {
    padding: 30px;
  }
  .visit__row .visit__row__right h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .visit__row .visit__row__right button {
    padding: 10px 20px;
    font-size: 10px;
  }
}
.visit__row p {
  margin: 16px 0;
}

.visit__row__left img {
  width: 100%;
}

.innovation {
  padding: 128px 0;
}
.innovation__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 1100px) {
  .innovation__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
    justify-items: center;
  }
}
@media (max-width: 600px) {
  .innovation__box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
    justify-items: center;
  }
}
.innovation h5,
.innovation h3 {
  color: #161722;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  text-transform: uppercase;
}
.innovation h3 {
  max-width: 554px;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  margin-top: 16px;
  margin-bottom: 64px;
}
@media (max-width: 400px) {
  .innovation h3 {
    font-size: 30px;
  }
}
.innovation__things {
  max-width: 302px;
  padding: 48px 32px;
  background-color: #FFF5EB;
}
.innovation__things p:nth-child(1) {
  font-family: Roboto Condensed;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.96px;
  color: #a54e2b;
  text-transform: uppercase;
}
.innovation__things p:nth-child(2) {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  margin: 16px 0;
}
.innovation__things p:nth-child(3) {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px;
}
.innovation__things p:nth-child(4) {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 18px;
  padding-top: 48px;
  padding-bottom: 4px;
}
.innovation__things p:nth-child(5) {
  color: #161722;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 24px;
}
.innovation__border__bottom {
  border-bottom: 16px solid #FFD0A0;
}