@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

button {
  cursor: pointer;
}

.sermon__image {
  height: 432px;
  background: url(../../assets/images/sermons/sermon-home-img.png) no-repeat;
  width: 100%;
}
.sermon__image .sermon__home__text {
  padding: 160px 0px 175px;
}
@media (max-width: 450px) {
  .sermon__image .sermon__home__text {
    text-align: center;
  }
}
.sermon__image .sermon__home__text__h1 {
  font-family: Roboto Condensed;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #1C1D28;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.sermon__image .sermon__home__text__desc {
  color: #1C1D28;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

#upcoming__sermons {
  text-align: center;
  margin: 115px 0px 64px 0px;
}
#upcoming__sermons .upcoming__header {
  margin-bottom: 64px;
}
#upcoming__sermons .upcoming {
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  color: #1C1D28;
  text-transform: uppercase;
}
#upcoming__sermons .upcoming-head-text {
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  color: #1C1D28;
  text-transform: uppercase;
}

.upcoming__main {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.upcoming__main .upcoming__main__text {
  max-width: 435px;
  padding: 61px 90px;
  text-align: start;
  background-color: #fff5eb;
}
.upcoming__main .upcoming__main__text .p-one {
  font-family: Roboto Condensed;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  background: linear-gradient(110deg, #a54e2b -53.83%, #dc9853 62.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.upcoming__main .upcoming__main__text h5 {
  margin: 16px 0px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  color: #1C1D28;
  text-transform: uppercase;
}
.upcoming__main .upcoming__main__text .p-two {
  width: 256px;
  margin-bottom: 30px;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  color: #1C1D28;
  line-height: 24px;
}
.upcoming__main .upcoming__main__text .upcoming__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1C1D28;
}
.upcoming__main .upcoming__main__text .upcoming__items img {
  padding-right: 16px;
}
.upcoming__main .upcoming__main__text .upcoming__btn {
  margin-top: 32px;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 24px 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  border-radius: 12px;
  color: #FFD2A4;
  background: #1C1D28;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border: none;
}
.upcoming__main .man-woman {
  width: 100%;
  background-size: cover;
}

.view-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 400;
  color: #1C1D28;
  line-height: 32px;
}
.view-all__head-text {
  margin: 128px 0px 64px 0px;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  color: #1C1D28;
  text-transform: uppercase;
}
.view-all__main__text {
  padding: 80px 40px;
  text-align: start;
  background-color: #fff5eb;
}
.view-all__main__text .p-one {
  font-family: Roboto Condensed;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  background: var(--Gradient, linear-gradient(110deg, #a54e2b -53.83%, #dc9853 62.61%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.view-all__main__text h5 {
  margin: 16px 0px;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  color: #1C1D28;
  text-transform: uppercase;
}
.view-all__main__text .p-two {
  max-width: 214px;
  margin-bottom: 30px;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  color: #1C1D28;
  line-height: 24px;
}

.view-all__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1C1D28;
}
.view-all__items img {
  padding-right: 16px;
}

.view-all__cards {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 24px;
  margin-bottom: 40px;
}
@media (max-width: 1285px) {
  .view-all__cards {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 725px) {
  .view-all__cards {
    grid-template-columns: repeat(1, auto);
  }
}
@media (max-width: 415px) {
  .view-all__cards .view-all__main__text {
    text-align: center;
  }
}