@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Manrope&family=Poppins&family=Roboto+Condensed&family=Rubik&display=swap");
@import "../base/variables";


@mixin btn($padding: 20px 48px, $color: white, $bc: #FFD2A4) {
  border-radius: 12px;
  background: $bc;
  padding: $padding;
  color: $black-color;
  font-family: Roboto Condensed;
  font-size: 16px;
  line-height: 16px;
  color: $color;
}
@mixin dflex ($justify: space-between, $gap: 0, $align: center) {
  display: flex;
  justify-content: $justify;
  gap: $gap;
  align-items: $align;
}
@mixin grid-all($column: 3, $gap: 0, $justify: space-between, $fr: 1fr) {
  display: grid;
  grid-template-columns: repeat($column, $fr);
  justify-content: $justify;
  gap: $gap;
  
}
