@import "../layout/container";
@import "../base/mixin";

* {
  margin: 0;
  padding: 0;
}
* ,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
 list-style-type: none;
 }
 
a {
  text-decoration: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}