@import "../base/global";

button {
  cursor: pointer;
}

.sermon__image {
  height: 432px;
  background: url(../../assets/images/sermons/sermon-home-img.png) no-repeat;
  width: 100%;
  .sermon__home__text {
    padding: 160px 0px 175px;
    @media (max-width: 450px) {
      text-align: center;
    }
  }
  .sermon__home__text__h1 {
    font-family: Roboto Condensed;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: $black-color;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }
  .sermon__home__text__desc {
    color: $black-color;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
#upcoming__sermons {
  text-align: center;
  margin: 115px 0px 64px 0px;
  .upcoming__header {
    margin-bottom: 64px;
  }
  .upcoming {
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 400;
    color: $black-color;
    text-transform: uppercase;
  }
  .upcoming-head-text {
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.48px;
    color: $black-color;
    text-transform: uppercase;
  }
}
.upcoming__main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  .upcoming__main__text {
    max-width: 435px;
    padding: 61px 90px;
    text-align: start;
    background-color: #fff5eb;
    .p-one {
      font-family: Roboto Condensed;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.96px;
      text-transform: uppercase;
      background: linear-gradient(110deg, #a54e2b -53.83%, #dc9853 62.61%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    & h5 {
      margin: 16px 0px;
      font-family: Roboto Condensed;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.24px;
      color: $black-color;
      text-transform: uppercase;
    }
    .p-two {
      width: 256px;
      margin-bottom: 30px;
      font-family: Roboto Condensed;
      font-size: 16px;
      font-weight: 400;
      color: $black-color;
      line-height: 24px;
    }
    .upcoming__items {
      display: flex;
      margin-bottom: 16px;
      font-family: Roboto Condensed;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: $black-color;
    }
    .upcoming__btn {
      margin-top: 32px;
      text-align: center;
      font-family: Roboto Condensed;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-transform: uppercase;
      display: inline-flex;
      padding: 24px 64px;
      align-items: center;
      gap: 16px;
      border-radius: 12px;
      color: $primary-color;
      background: $black-color;
      backdrop-filter: blur(40px);
      border: none;
    }
  }
  .man-woman {
    width: 100%;
    background-size: cover;
  }
}
